@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #00b4db, #0083b0);
}

h1, 
h2,
h3 {
    font-weight: normal;
    display: inline-block;
    transition: .5s ease;
}

h3,
p {
    color: #555;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

h2 {
    margin: .5rem 0 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #444;
}

h2:hover {
    color: #00b4db;
}


html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Hero section */

header {
    color: #f7f9fb;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 4rem 3rem 5rem;
    animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

header p {
    color: #f7f9fb;
}

.header-social {
    padding-top: 1rem;
}

.header-social a {
    display: inline-block;
    padding: 0 .4rem;
    text-decoration: none;
    color: #f7f9fb;
    transition: .5s ease;
}

.header-social a:hover {
    font-size: 15px;
}

@media (min-width: 1000px) {

    header {
        color: #f7f9fb;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        padding: 3rem 3rem 4rem;
    }

    header h1 {
        font-size: 4rem;
        margin: .5rem 0;
    }

    .header-social a {
        font-size: .7rem;
        padding: 0 .4rem;
        text-decoration: none;
        color: #f7f9fb;
    }

}


/* About Section */

#about {
    text-align: left;
    width: 90%;
    margin: 0 auto 0;
    padding: 1.5rem 2rem 2rem;
    background: #f7f9fb;
    box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, .2),
                0px 2px 5px 0 rgba(0, 0, 0, .10);
}

.about-img {
    width: 100%;
}

.about-img img {
    width: 100%;
}

#about p {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.8;
}

@media (min-width: 1000px) {

    #about {
        text-align: left;
        width: 70%;
        padding: 1.5rem 2rem 4rem;
    }

    .about-grid {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-column-gap: 15px;
    }
    
    .about-grid p {
        margin-top: 0;
        padding: 0 1rem;
    }

    
}

/* Projects Section */

#projects {
    text-align: left;
    width: 90%;
    margin: 2rem auto;
    padding: 1.5rem 2rem 3rem;
    background: #f7f9fb;
    box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, .2),
                0px 2px 5px 0 rgba(0, 0, 0, .10);
}

#projects button {
    cursor: pointer;
    margin-top: 2rem;
    width: 50%;
    padding: .6rem .3rem;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    background: #00b4db;
}

.project-img {
    width: 100%;
    margin-bottom: 1rem;
}

.project-img img {
    width: 100%;
}

.project-item1,
.project-item2,
.project-item3 {
    background: hsl(216, 19%, 93%);
    /* border: 2px solid #0083b0; */
    padding-bottom: .6rem;
    box-shadow: 0px 15px 15px 0 rgba(0, 0, 0, .2),
                0px 2px 5px 0 rgba(0, 0, 0, .10);
    transition: .5s ease;
}

.project-item1:hover,
.project-item2:hover,
.project-item3:hover {
    transform: rotate(3deg);;
}

.project-item2,
.project-item3 {
    margin-top: 1.5rem;
}

.project-item1 a,
.project-item2 a,
.project-item3 a{
    padding: 0 .8rem;
}

.project-item1 p,
.project-item2 p,
.project-item3 p{
    padding: 0 .8rem;
    margin: .3rem 0;
}

#projects a {
    padding-top: .5rem;
    text-decoration: none;
    color: hsl(191, 52%, 12%);
    font-size: 1.2rem;
    font-weight: bold;
}

@media (min-width: 1000px) {
    #projects {
        text-align: left;
        width: 70%;
        margin: 2rem auto;
        padding: 1.5rem 2rem 3rem;
    }

    .project-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
    }

    .project-item2,
    .project-item3 {
        margin-top: 0;
    }
}

/* Work Section */

#work {
    text-align: left;
    width: 90%;
    margin: 2rem auto;
    padding: 1.5rem 2rem 2rem;
    background: #f7f9fb;
    
}

.work1 {
    margin-bottom: 1.5rem;
}

.work1 h3, .work2 h3 {
    margin: 0;
    font-weight: bold;
}

.work1 p, .work2 p {
    margin: .3rem 0;
}

@media (min-width: 1000px) {

    #work {
        text-align: left;
        width: 70%;
        margin: 2rem auto;
        padding: 1.5rem 4rem 2rem 2rem;
        background: #f7f9fb;
        
    }
    
    .work1 {
        margin-bottom: 1.5rem;
    }
    
    .work1 h3, .work2 h3 {
        margin: 0;
        font-weight: bold;
    }
    
    .work1 p, .work2 p {
        margin: .3rem 0;
    }
    
}

/* Certifications Page */

#certifications {
    text-align: left;
    width: 90%;
    margin: 2rem auto;
    padding: 1.5rem 2rem 2rem;
    background: #f7f9fb;
}
#certifications h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: .6rem 0;
}

#certifications span {
    font-weight: normal;
}

.cert-item1 h3, .cert-item2 h3, .cert-item3 h3 {
    margin: 0;
    font-weight: bold;
}

.cert-item1 p, .cert-item2 p, .cert-item3 p {
    margin: .3rem 0;
}

.cert-item1, 
.cert-item2 {
    margin-top: 1.5rem;
}

@media (min-width: 1000px) {
    #certifications {
        text-align: left;
        width: 70%;
        margin: 2rem auto;
        padding: 2.5rem 2rem 3.5rem;
        background: #f7f9fb;
    }
}

#social {
    text-align: left;
    width: 90%;
    margin: 2rem auto;
    padding: 1.5rem 2rem 2rem;
    background: #f7f9fb;
}

#social h2 {
    margin: .5rem 0 2rem;
    font-size: 2rem;
}

#social ul {
    margin: 0;
}

#social ul li {
    list-style-type: none;
    padding-bottom: .9rem;
    position: relative;
}

#social ul li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: -1.4em;
    background: #00b4db;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin-right: 1rem;
}

@media (min-width: 1000px) {
    #social {
        text-align: left;
        width: 70%;
        margin: 2rem auto;
        padding: 2.5rem 2rem 3.5rem;
        background: #f7f9fb;
    }
}


/* Contact Page */

#contact {
    text-align: left;
    width: 90%;
    margin: 2rem auto;
    padding: 1.5rem 2rem 2rem;
    background: #f7f9fb;
}

@media (min-width: 1000px) {
    #contact {
        text-align: left;
        width: 70%;
        margin: 2rem auto;
        padding: 1.5rem 2rem 2rem;
        background: #f7f9fb;
    }
}

/* #contact h2 {
    font-size: 2rem;
    margin: .5rem 0 2rem;
}

#contact h2:hover {
    color: #0083b0;
} */

form input {
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    background: #ececec;
}

textarea {
    width: 100%;
    border: none;
    background: #ececec;
}

form button {
    width: 50%;
    padding: .4rem;
    margin: 1rem 0 .3rem;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    background: #00b4db;
}

footer {
    text-align: left;
    width: 90%;
    margin: 1rem auto;
    padding: 1.5rem 2rem 3rem;
}

.footer-first {
    display: inline-block;
    font-size: 2rem;
    color: #f7f9fb;
    font-weight: bold;
    transition: .5s ease;
}

.footer-first:hover {
    font-size: 2.5rem;
}

.footer-social {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: .5rem;
}

.footer-social a {
    text-decoration: none;
    color: #f7f9fb;
    font-size: 1.1rem;
    padding: .5rem 0;
    text-align: left;
    display: inline-block;
    transition: .5s ease;
}

.footer-social a:hover {
    font-size: 1.3rem;
}

.footer-social a i {
    padding-right: .5rem;
}

@media (min-width: 1000px) {
    footer {
        text-align: center;
        width: 70%;
        margin: 1rem auto;
        padding: 1.5rem 2rem 3rem;
    }

    form button {
        width: 20%;
        padding: .6rem;
        margin: 1rem 0 .3rem;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        margin-left: 0;
    }

    .footer-social a {
        text-align: center;
    }
}